:host {
    display: flex;
    height: 100vh; 
    flex: 1; 
    display: flex;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    align-items: stretch;
  }

  .content {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
  }